img {
    max-width:100%!important;
}

.searchbox_container {
    display:block;
    position:relative;
    width:100%;
    height:auto;
    text-align:center;
    margin-bottom:40px;
}

#searchbox {
    display:block;
    position:relative;
    text-align:center;
    height:50px;
    width:400px;
    margin:0 auto;
    margin-top:150px;
}

#counter_box {
    display:block;
    position:relative;
    text-align:center;
    height:auto;
    width:auto;
    margin:0 auto;
}

#counter {
    font-weight: bold;
}

#resources_box {
    display:block;
    position:relative;
    text-align:center;
    height:auto;
    width:80%;
    margin:0 auto;
}

.resource_entry {
    display:block;
    position:relative;
    text-align:left;
    height:auto;
    width:100%;
    margin:0 auto;
    margin-top:10px;
    color:black;
}

.keywords {
    display:none;
}