body {
    font-family: "Segoe UI";
}

img {
    max-width:100%!important;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height:45px;
    width:100%;
    background-color: #313131;
    color:white;
    text-align:center;
    line-height:45px;
}

.right-align {
    display:block;
    text-align:right;
}

#titlebox {
    display:block;
    position:relative;
    width:100%;
    padding-left:5%;
    padding-right:5%;
    text-align:right;
    margin-top:20px;
    margin-bottom:20px;
}

.searchbox_container {
    display:block;
    position:relative;
    width:100%;
    height:auto;
    text-align:center;
    margin-top:0px;
    margin-bottom:40px;
    padding-top:0px;
}

.input_box_container {
    display:block;
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
}

.formatter_input_container {
    display:block;
    position:relative;
    width:50%;
    height:auto;
    text-align:left;
    margin:0 auto;
}

#searchbox {
    display:block;
    position:relative;
    text-align:center;
    height:50px;
    width:400px;
    margin:0 auto;
}

#counter_box {
    display:block;
    position:relative;
    text-align:center;
    height:auto;
    width:auto;
    margin:0 auto;
}

#counter {
    font-weight: bold;
}

#resources_box {
    display:block;
    position:relative;
    text-align:center;
    height:auto;
    width:80%;
    margin:0 auto;
    margin-bottom:100px;
}

.resource_entry {
    display:block;
    position:relative;
    text-align:left;
    height:auto;
    width:100%;
    margin:0 auto;
    margin-top:10px;
    color:black;
}

.keywords {
    display:none;
}