/* Ghost messes up images on mobile, so this 
   keeps them from stretching outside the viewport. 
*/
img {
    max-width:100%!important;
}
    
/* Navbar isn't indented, nor has a background. 
   Nor has roundy corners like the posts.
*/
.site-nav {
    background: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -13px;
    border-radius: 5px;
}

.searchbox_container {
    display:block;
    position:relative;
    width:100%;
    height:400px;
    text-align:center;
}

#searchbox {
    display:block;
    position:relative;
    text-align:center;
    height:50px;
    width:400px;
    margin:0 auto;
    margin-top:150px;
}

#resources_box {
    display:block;
    position:relative;
    text-align:center;
    height:auto;
    width:80%;
    margin:0 auto;
}

.resource_entry {
    display:block;
    position:relative;
    text-align:left;
    height:auto;
    width:100%;
    margin:0 auto;
    margin-top:10px;
    color:black;
}